.info-empresa{
    display: flex;
    margin-top: 2em;
    width: 70%;
    gap: 2em
}

.home{
    margin-bottom: 1.5em;
}

.bloco-info__contato,
.bloco-info__mapa{
    align-items: center;
    padding: 0 1em 1em 1em;
}

.bloco-info__contato{
    display: flex;
    flex-direction: column;
    width: 50vh;
    padding: 0 1em 1em 1em;
}

.bloco-info__mapa{
    width: 80vh;
}

.form-contato__entrada{
    font-family: var(--fonte-secundaria);
    border-radius: var(--bordas-entradas);
    padding: .5em 1em;
    margin-bottom: .3em;
    text-align: center;
    -webkit-border-radius: var(--bordas-entradas);
    -moz-border-radius: var(--bordas-entradas);
    -ms-border-radius: var(--bordas-entradas);
    -o-border-radius: var(--bordas-entradas);
}

#form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#contatos{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#email,
#telefone{
    width: 50%;
    gap: .2em;
}

#grupo-contatos{
    display: flex;
    justify-content: space-between;
}

#endereco{
    margin-bottom: .5em;
}

#pedido{
    height:12em;
    text-align: left;
}

#botao-enviar{
    margin-top: 1em;
    border-radius: var(--bordas-entradas);
    padding: .5em;
    font-family: var(--fonte-secundaria);
    border: 1px solid var(--cor-terciaria);
    -webkit-border-radius: var(--bordas-entradas);
    -moz-border-radius: var(--bordas-entradas);
    -ms-border-radius: var(--bordas-entradas);
    -o-border-radius: var(--bordas-entradas);
}

.botao:hover{
    background-color: var(--cor-hover);
    color: var(--cor-secundaria);
}

.map-frame{
    height: 85%;
    border-radius: var(--bordas-blocos);
    -webkit-border-radius: var(--bordas-blocos);
    -moz-border-radius: var(--bordas-blocos);
    -ms-border-radius: var(--bordas-blocos);
    -o-border-radius: var(--bordas-blocos);
}

.form-contato__text{
    margin: 0 0 .2em 0;
    text-align: left;
}

.form-contato__entrada::placeholder{
    text-align: center;
}

@media screen and (max-width: 1024px){
    .info-empresa{
        flex-direction: column;
        width: 100%;
        align-items: center;
        font-size: 22px;
    }

    .bloco-info__contato,
    .bloco-info__mapa{
        margin: 1em 3em
    }

    .bloco-info__contato,
    .bloco-info__mapa{
        width: 80%;
        padding: 0 1em 1em 1em;
        font-size: 22px;
    }

    .bloco-info__mapa{
        height: 100vh;
    }

    .carrossel__info-empresa{
        display: flex;
    }

    .form-contato__entrada,
    .form-contato__text{
        font-size: 22px;
    }
}